src/*.exe
src/quantum
src/quantumd
src/test_quantum
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.quantum

# Compilation and Qt preprocessor part
*.qm
Makefile
quantum-qt
Quantum-Qt.app

# Unit-tests
Makefile.test
quantum-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
